.hero-container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 13px;
    justify-content: space-around;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.hero-title {
    font-size: 4.5rem;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 600;
    margin: 16px 0;
}

.hero-buttons {
    display: flex;
    gap: 32px;
}

.hero-image {
    width: 16.6667%;
}

.hero-image img {
    width: 100%;
}

.features-container {
    padding: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-title {
    width: fit-content;
    margin: 0 auto;
    border-bottom: 4px solid #2d5649;
    padding: 8px;
    font-size: 3rem;
    font-weight: 600;
}

.feature-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
}

.feature-item.reverse {
    flex-direction: row-reverse;
}

.feature-text {
    width: 50%;
    font-size: 2rem;
}

.feature-text.text-end {
    text-align: end;
}

.feature-image {
    width: 33.3333%;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.how-it-works-container {
    padding: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-it-works-title {
    width: fit-content;
    margin: 0 auto;
    border-bottom: 4px solid #2d5649;
    padding: 8px;
    font-size: 3rem;
    font-weight: 600;
}

.how-it-works-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;
    gap: 48px;
}

.how-it-works-text {
    font-size: 2rem;
}